APP_NAME=DATAMINE
APP_ENV=local
APP_KEY=base64:g+7Ht/T5O6ciXnG2iYWnXd+LQQcKyjFlU2bVS6nGAss=
APP_DEBUG=true
APP_URL=https://datamine-13120b40742a.herokuapp.com/

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug


DB_CONNECTION=pgsql
DB_HOST=c9uss87s9bdb8n.cluster-czrs8kj4isg7.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_DATABASE=detpt133o92ml
DB_USERNAME=u6c1klv7c89cm
DB_PASSWORD=p9db6bfb33d9f433dfc9bdc57ef02f451d0f41d145b4e777335b162fb09781690

ASSET_URL=https://datamine-13120b40742a.herokuapp.com/

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=database
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailhog
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
