# Laravel specific
.env
/.idea
/.vscode
/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store

# Tailwind CSS
/node_modules/
/dist/
npm-debug.log
yarn-error.log

# Alpine.js
/node_modules/
/dist/
npm-debug.log
yarn-error.log

# Livewire
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
