body{
	margin: 0;
	padding: 0;
}

nav{
	background: whitesmoke;
	height: 20px;
	padding: 10px 10% 10px 10%;
}

.card{
	width:80%;
	margin: 1% auto;
	padding: 1%;
	border: 1px solid black;
}

.card textarea{
	width:100%;
	min-height: 100px;
}

.card header{
	margin-bottom: 1em;
	font-weight: bold;
}